{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "auto"
}